# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
!Library/BuildSettings.asset
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
UnityProject/Assets/Materials/glow.mat

UnityProject/Assets/Materials/glow.mat.meta

UnityProject/Assets/mia_for_en_sikkerhesskyld_2.unity

UnityProject/Assets/mia_for_en_sikkerhesskyld_2.unity.meta

UnityProject/Assets/Mia_Silja_Home.unity
