# Unity generated #
# =============== #

# Folders:
# Ignore: name DOT meta
*.meta
# Include: name DOT extension DOT meta
!*.*.meta

*.fbm
*.fbm.meta

Temp/
Obj/
UnityGenerated/
Library/
!Library/BuildSettings.asset
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

UnityProject/Assets/RAIN.meta
UnityProject/Assets/RAIN/RainAssets.meta
UnityProject/Assets/RAIN/Editor/RAINSettings.asset
UnityProject/Assets/RAIN/Editor/RAINSettings.asset.meta
UnityProject/Assets/RAIN/Editor/RAINSkin.asset
UnityProject/Assets/RAIN/Editor/RAINSkin.asset.meta
UnityProject/Assets/RAIN/Editor/RAINEditor.dll
UnityProject/Assets/RAIN/Editor/RAINEditor.dll.meta
UnityProject/Assets/RAIN/Editor/RAINMetaformEditor.dll
UnityProject/Assets/RAIN/Editor/RAINMetaformEditor.dll.meta
UnityProject/Assets/AI/Cache/BTEditorWindowState.asset
UnityProject/Assets/AI/Cache/BTEditorWindowState.asset.meta
UnityProject/Assets/RAIN/Editor/RAINProjectState.asset
UnityProject/Assets/RAIN/Editor/RAINProjectState.asset.meta
